*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo{
    text-align: center;
}

#img{
  margin-top: -50px;
  margin-right: 750px;
  width: 0px;
}

nav{
    background-color: white;
}

nav li{
    display: inline-block;
}

nav li a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

#img2{
    margin-left: 340px;
    margin-top: -23px;
}
#img3{
    margin-right: 330px;
}

#img4{
    margin-right: 275px;
    margin-top: -23px;
    
}
.iconepessoa1{
   margin-right: 80px;
}

.iconepessoa2{
    margin-right: 90px;
}

.casa{
    margin-right: 300px;
    margin-top: 30px;
}
.lupa4{
    margin-top: -22px;
    margin-right: 180px;
}

.coracao{
    margin-top: -22px;
    margin-left: 200px;
}

.pessoa{
    margin-top: -27px;
    margin-left: 320px;
}

.img5{
    margin-top: -55px;
}